:root {
  --almost-black: #131313;
  --kinda-black: #2A2A2A;
  --mostly-red: #B71C1C;
  --secondary-text: #FFFFFFAB;

  --container-md: 1024px;
  --container-lg: 1240px;

  --border-weight: 2px;
}

.dark, .dark-theme, .radix-themes {
  --gray-1: var(--almost-black);
}

.radix-themes {
  --default-font-family: var(--font-poppins);
}

[data-accent-color='red'] {
  --accent-9: var(--mostly-red);
}

.rt-Button {
  cursor: pointer;
}

body {
  margin: 0;
  min-height: 100dvh;
}